<h2>User info</h2>

<%= form_for(@user) do |f| %>

<!-- エラーメッセージ表示-->
<% if @user.errors.any? %>
	<h3><%= @user.errors.count %>error occurrence</h3><!--エラーメッセ-->
	<ul>
		<% @user.errors.full_messages.each do |message| %>
		<li><%= message %></li>
		<% end %>
	</ul>
<% end %>
<!-- エラーメッセージ表示-->

<div class="field">
	<%= f.label :name %>
	<%= f.text_field :name, class: "name" %>
</div>

<div class="field">
	<%= f.label :image %>
	<%= f.attachment_field :profile_image, class: "user_image" %>
</div>

<div class="field">
	<%= f.label :introduction %>
	<%= f.text_area :introduction, class: "introduction" %>
</div>

<div class="field">
	<%= f.label :postal_code %><br>
	<%= f.text_field :postal_code, autofocus: true, class: "postal_code", id: "address_zipcode" %>
</div>

<div class="field"><br>
	<%= f.label :prefecture_code %><br>
	<%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :name, :name %>
</div>

<div class="field">
	<%= f.label :city %><br>
	<%= f.text_field :city, autofocus: true, class: "address", id: "city" %>
</div>

<div class="field">
	<%= f.label :street %><br>
	<%= f.text_field :street, autofocus: true, class: "address", id: "street" %>
</div>

<div class="field">
	<%= f.label :building %><br>
	<%= f.text_field :building, autofocus: true, class: "address" %>
</div>

<div class="actions">
	<%= f.submit %>
</div>

<% end %>