<div class="row">
	<div class="col-xs-3">

		<h2>User info</h2>
		<%= render 'users/profile', user: @user %>

		<h2>New book</h2>
		<%= render 'books/newform', book: @new_book %>

	</div>

	<div class="col-xs-9">
		<h2>Book detail</h2>

		<table class="table">
				<tr>
					<td>
						<%= link_to (@book.user) do %>
						<%= attachment_image_tag(@book.user, :profile_image, :fill, 100, 100, fallback: "no-image-mini.jpg") %><br>
						<%= @book.user.name %>
						<% end %>
					</td>
					<td><%= link_to @book.title, @book %></td>
					<td>
						<% if Favorite.exists?(user_id: current_user.id, book_id: @book.id) %>
							<%= link_to book_favorites_path(@book), method: :delete do %>
								<span class="glyphicon glyphicon-heart" aria-hidden="true" style="color: red;"></span>
							<% end %>
							<%= @book.favorites.count %>
						<% else %>
							<%= link_to book_favorites_path(@book), method: :post do %>
								<span class="glyphicon glyphicon-heart" aria-hidden="true" style="color: gray;"></span>
							<% end %>
							<%= @book.favorites.count %>
						<% end %>
					</td>
					<td>
						<span>コメント数 : </span>
						<%= @book.book_comments.count %>
					</td>
					<td><%= @book.body %></td>
					<% if @book.user_id == current_user.id %>
						<td><%= link_to "Edit",edit_book_path(@book), class: "btn-sm btn-success edit_book_#{@book.id}" %></td>
						<td><%= link_to "Destroy",@book, method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn-sm btn-danger destroy_book_#{@book.id}" %></td>
						<td>
					<% end %>
				</tr>
			</table>

		<h2>Comments</h2>

		<table class="table">
			<% @book_comments.each do |book_comment| %>
				<tr>
					<td>
						<%= link_to user_path(book_comment.user) do %>
						<%= attachment_image_tag book_comment.user, :profile_image, :fill, 60, 60, format: "jpeg", fallback: "no_image.jpg" %>
						<% end %>
					</td>
					<td>
						<%= book_comment.comment %>
					</td>
					<td>
						<% if book_comment.user_id == current_user.id %>
							<%= link_to "Destroy", book_book_comment_path(@book, book_comment), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger" %>
						<% end %>
					</td>
				</tr>
			<% end %>
				<tr>
					<td>
						<%= form_for [@book, @book_comment] do |f| %>
						<%= f.text_area :comment, class: "col-xs-12" %>
						<br>
						<%= f.submit "Create", class: "btn btn-success" %>
						<% end %>
					</td>
				</tr>
		</table>
	</div>
</div>

